.education-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}
.education-title h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}
.content{
    padding-left: 300px;
}
.content2{
    padding-top: 50px;
}
.content3{
    padding-top: 50px;
}
.year{
    font-size: 50px;
}
.content h1{
    font-size: 50px;
    background: linear-gradient(270deg,#DF8908 10%,#B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.content p{
    font-size: 30px;
}
.education{
    scroll-margin-top: 200px;
}
@media(max-width:768px){
    .content{
        display: flex;
        flex-direction: column;
        padding-left: 50px;
    }
    .education-title h1{
        display: flex;
        flex-direction: column;
        padding-left: 50px;
        gap: 50px;
        font-size: 60px;
    }
    .year{
        font-size: 30px;
    }
    .content h1{
        font-size: 35px;
    }
    .content p{
        font-size: 16px;
    }
}