.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 50px;
    position: fixed;
    top: 0%;
    width: 95%;
    background: #161513;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 30px;
}
.logo{
    height: 200px;
}
.nav-connect{
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%);
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
}
.nav-connect:hover{
    transform: scale(1.05);
}
.nav-menu a{
    text-decoration: none;
    color: white;
}
.nav-connect a{
    text-decoration: none;
    color: white;
}